html{
  box-sizing: border-box
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 100vh;
}

.button {
  border-radius: 45%;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}

#yes-button {
  background-color: #F80B0B;
  color: antiquewhite;
}

#no-button {
  background-color: #0B64F8;
  color: #faebd7;
}
#start-game-button {
  
}

#hit-button {
  background-color: #EF972C;
}

#stay-button {
  background-color: #0D6C8D;
  color:antiquewhite;
}

.gametitle {
  font-size: 2.4rem;
  font-weight: bold;
}