html{
  box-sizing: border-box
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  padding: 0;
}

.button {
  border-radius: 45%;
  border: none;
  font-size: 2.0rem;
  padding: 5px;
  text-align: center;
  margin: 7px;
}

#yes-button {
  background-color: #F80B0B;
  color: antiquewhite;
}

#no-button {
  background-color: #0B64F8;
  color: #faebd7;
}

#hit-button {
  background-color: #d4af37;
}
#hit-button:hover {
  animation: sparkle 5s;
}

#stay-button {
  background-color: silver;
  color: black;
}

.gametitle {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
#opening-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#welcome {
  text-align: center;
  padding: 10px;
}

.gametitle {
  color: #FC0419;
  font-family: "dancing script";
  font-size: 50px;
  font-weight: bold;
}

h1 {
  font-size: 4.0rem;
}
h2 {
  font-size: 3.0rem;
}
main {
  display: grid; 
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  margin: 10px 0 0 5px;
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  padding: 0;
  grid-template-areas: 
  "dealer"
  "house"
  "player";
}
.dealer {
  grid-area: dealer;
  width: 100%;
  padding: 30px 0 20px 10px;
  /* border: 2px solid red; */
}
.dealer > div {
  margin: 0;
  padding: 10px;
}
.house {
  grid-area: house;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0px;
}

.game {
  display: flex;
  grid-template-columns: 10% 30% 30% 10%;
  grid-template-rows: 40% 60%;
  grid-area: 
  "message-2"
  "deck" "discard-pile"
  "message-1";
}
.player {
  grid-area: player;
  margin: 0;
  /* border: 2px solid red; */
  width: 100%;
  padding: 30px 0 20px 10px; 
}
.player > div {
  padding: 10px;
  margin: 0;
}
footer{
  display: grid;
  height: 30%;
  /* border: 2px solid red; */
}
footer {
  padding: 0;
}
#message-1 {
  /* border: 2px solid red; */
  color: white;
  grid-area: message-1;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  padding: 10px;
}
#message-2 {
  /* border: 2px solid red; */
  color: white;
  grid-area: message-2;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}
#deck {
  grid-area: deck
}
